<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@192.168.56.101:1521:xe
		</property>
		<property name="hibernate.connection.username">ERS</property>
		<property name="hibernate.connection.password">revature</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<mapping class="com.revature.ERS.model.Users"></mapping> 
		<mapping class="com.revature.ERS.model.UserRole"></mapping> 
		<mapping class="com.revature.ERS.model.Reimbursement"></mapping>
		<mapping class="com.revature.ERS.model.ReimbursementStatus"></mapping>
		<mapping class="com.revature.ERS.model.ReimbursementType"></mapping>
	</session-factory>
	
<!-- 	
	<mapping resource="Users.hbm.xml"></mapping>
	<mapping class="com.revature.model.Employee"></mapping> -->
</hibernate-configuration>